#tabs
{
	float:left;
	width:100%;
	min-height:550px;
}
body{
	margin:0px;
	padding:0px;
}
#headerDiv{
	height:100px;
	width:100%;
	background-color:#b0c4de;
}
#footerDiv{
	height:50px;
	width:100%;
	margin-bottom:0px;
	padding-bottom:0px;
	background-color:#b0c4de;
	float:left;
	z-index:10;
	text-align:center;
	
}
#side{
margin-top: 5px;
margin-bottom:  5px;
margin-right:  5px;
background-color: #ccffff;

    float:right;
	width:25%;
	min-height:85%;
        border: #ccffff outset thin;
        border-radius: 10px;
	
}
#list
{
	float:left;
	width:73%;
	min-height:550px;
}
.prob_table
{
        width: 100%;
}

#registerDiv
{
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;
}
#containtRegister
{
    min-height: 550px;   
}
#regTable
{
    margin-left: auto;
    margin-top: 15px;
    margin-right: auto;
    padding: 5px;
    width: 50%;
}
td
{
    padding: 10px;
    font: large sans-serif;
}
tr
{
   
}
#inputText
{
    height:20px;
    width: 300px;
}
#contentProfile{
    min-height: 550px;
    
}
#ProfileTable
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px;
    width: 70%;
}
#ShowDetailsDiv
{
    min-height: 550px;
    
}
#EditDetailsDiv
{
    min-height: 550px;
    display: none;
}
#EditProfileTable
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px;
    width: 70%;
}
#Solutions
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px;
    width: 70%;
}
#SubmissionsTable
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px;
    width: 70%;
}
#ShowSubmissionsDiv
{
    min-height: 550px;
    
}

.comments
{
    width:75%;
    -moz-border-radius: 20px;
    margin-top: 10px;
    
    /*background-color: #00ff00;*/
}
.commentor
{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: burlywood;
    padding-right: 15px;
    font-size: small;
}
.commentbody
{
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fcefa1;
    min-height: 50px;
    padding-left: 15px;
    word-wrap:break-word;
    font-size: small;
    
}
.newcomment
{
    margin-top: 20px;
}

#contests
{
    width: 100%;
    min-height: 100px;
}

#cursubmissions
{
    width: 100%;
}

.minheight
{
    min-height: 550px;
    
}
.tableprop
{

    margin-top: 15px;
    padding: 5px;
    width: 100%;
}
.textprop
{
    font: bold 22x sans-serif; 
}
.sec
{
    float:left;
	width:73%;
	min-height:550px;
}
.headertextprop
{
    font: normal 30px sans-serif; 
}
a
{
    text-decoration: none;
   
}
.txtprp
{
    padding: 10px;
    font: large sans-serif;
}
.logo
{
    
}
.bttn
{
    width:300px;
    height:40px;
    font-size: 20px;
}